@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif !important;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-size: 1.4rem;
  -webkit-overflow-scrolling: touch;
  /* for font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

input {
  font-family: "Nanum Gothic", sans-serif !important;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none !important;
}
